@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.join-us-section {
    background-image: url('body.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 100px 20px 60px;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    box-sizing: border-box;
}

.join-us-section .content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 250px;
}

.join-us-section .content p {
    font-size: 18px;
    margin-bottom: 40px;
}

.primary-btn, .secondary-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.primary-btn {
    background-color: #335DA1;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    margin-right: 50px;
}

.secondary-btn {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
}

.statistics {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.stat-item {
    text-align: center;
    padding: 0 20px;
}

.stat-item h3 {
    font-size: 32px;
    margin: 20px 0;
    font-weight: bold;
}

.stat-item p {
    font-size: 16px;
    margin-top: 10px;
}

.stat-icon {
    font-size: 40px;
    margin-bottom: 15px;
}
